/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels{
    font-size: 3em;
} */

/* body{
    font-size: 2em;
} */
/* 
#mysubmit{
    font-size: 2em;
} */



/* body {

    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;

}

h1 {
    color: rgb(56, 86, 255);
}

form {
    background-color: white;
    text-align: center;
    max-width: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 1%, 21%);
}

#textbox {
    width: 60%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.849);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: hsl(0, 100%, 41%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(119, 0, 0);
}


#result{
    font-size: 1.75em;
    font-weight: bold;

} */


/* #container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsla(240, 100%, 50%, 0.747);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: hsla(216, 100%, 50%, 0.747);
}

button:active {
    background-color: hsla(216, 100%, 50%, 0.747);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin: 25px;
}

#diceImages img {
    width: 150px;
    margin: 5px;
} */